In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("churn_modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)

In [6]:
df = pd.get_dummies(df, columns = ["Gender", "Geography"], drop_first = True)

In [7]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True

In [8]:
x = df.drop(["Exited"], axis = 1)
y = df["Exited"]

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

C:\Users\kulka\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\kulka\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\kulka\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\kulka\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\kulka\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\kulka\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [11]:
x

array([[-0.32622142,  0.29351742, -1.04175968, ..., -1.09598752,
        -0.57873591, -0.57380915],
       [-0.44003595,  0.19816383, -1.38753759, ..., -1.09598752,
        -0.57873591,  1.74273971],
       [-1.53679418,  0.29351742,  1.03290776, ..., -1.09598752,
        -0.57873591, -0.57380915],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -1.09598752,
        -0.57873591, -0.57380915],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  0.91241915,
         1.72790383, -0.57380915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -1.09598752,
        -0.57873591, -0.57380915]])

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [15]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
model = Sequential()
model.add(Dense(activation = 'relu', units = 6))
model.add(Dense(activation = 'relu', units = 6))
model.add(Dense(activation = 'sigmoid', units = 1))
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.fit(x_train, y_train, batch_size = 10, epochs = 50)

Epoch 1/50
750/750 [==============================] - 5s 4ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 2/50
750/750 [==============================] - 3s 4ms/step - loss: 0.4234 - accuracy: 0.8129
Epoch 3/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3914 - accuracy: 0.8368
Epoch 4/50
750/750 [==============================] - 3s 3ms/step - loss: 0.3732 - accuracy: 0.8452
Epoch 5/50
750/750 [==============================] - 3s 3ms/step - loss: 0.3635 - accuracy: 0.8475
Epoch 6/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3569 - accuracy: 0.8523
Epoch 7/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3533 - accuracy: 0.8511
Epoch 8/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3502 - accuracy: 0.8525
Epoch 9/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3483 - accuracy: 0.8551
Epoch 10/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3465 - accuracy: 0.8561
Epoch 11/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3448 - accuracy: 0.8581
Epoch 12/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3437 - accuracy: 0.8575
Epoch 13/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3425 - accuracy: 0.8611
Epoch 14/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3416 - accuracy: 0.8595
Epoch 15/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3414 - accuracy: 0.8593
Epoch 16/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3402 - accuracy: 0.8611
Epoch 17/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3404 - accuracy: 0.8609
Epoch 18/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3398 - accuracy: 0.8625
Epoch 19/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3389 - accuracy: 0.8613
Epoch 20/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3388 - accuracy: 0.8617
Epoch 21/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3381 - accuracy: 0.8616
Epoch 22/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3376 - accuracy: 0.8624
Epoch 23/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3372 - accuracy: 0.8636
Epoch 24/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3364 - accuracy: 0.8623
Epoch 25/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3361 - accuracy: 0.8645
Epoch 26/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3358 - accuracy: 0.8644
Epoch 27/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3360 - accuracy: 0.8628
Epoch 28/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3347 - accuracy: 0.8628
Epoch 29/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3346 - accuracy: 0.8633
Epoch 30/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3344 - accuracy: 0.8639
Epoch 31/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3343 - accuracy: 0.8659
Epoch 32/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3335 - accuracy: 0.8635
Epoch 33/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3326 - accuracy: 0.8640
Epoch 34/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3331 - accuracy: 0.8645
Epoch 35/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3329 - accuracy: 0.8657
Epoch 36/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3324 - accuracy: 0.8659
Epoch 37/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3321 - accuracy: 0.8647
Epoch 38/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3315 - accuracy: 0.8645
Epoch 39/50
750/750 [==============================] - 3s 3ms/step - loss: 0.3303 - accuracy: 0.8663
Epoch 40/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3306 - accuracy: 0.8667
Epoch 41/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3302 - accuracy: 0.8680
Epoch 42/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3299 - accuracy: 0.8667
Epoch 43/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3295 - accuracy: 0.8672
Epoch 44/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3294 - accuracy: 0.8676
Epoch 45/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3286 - accuracy: 0.8687
Epoch 46/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3291 - accuracy: 0.8671
Epoch 47/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3288 - accuracy: 0.8665
Epoch 48/50
750/750 [==============================] - 3s 3ms/step - loss: 0.3282 - accuracy: 0.8683
Epoch 49/50
750/750 [==============================] - 3s 3ms/step - loss: 0.3272 - accuracy: 0.8667
Epoch 50/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3275 - accuracy: 0.8683

In [17]:
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)

79/79 [==============================] - 1s 3ms/step

In [18]:

from sklearn.metrics import accuracy_score
print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.8576

In [19]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1910,   82],
       [ 274,  234]], dtype=int64)